@import '~@angular/material/theming';

$iphone5: 320px;
$GalaxyS5: 360px;
$iphone678: 375px;
$iphonex: 375px;
$pixel2: 411px;
$iphone678plus: 414px;
$ipad: 768px;
$ipadpro: 1024px;

@mixin search_bar_mixin($theme) {
  $primary:map-get($theme, primary);
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: mat-color($primary, 800) !important;
  }
}



@mixin resizeMixin($screen) {
  @media (min-width: #{$screen}) {
      @content;
  }
}

.searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

  &__formfield {

    width: 480px;
    height: 20px;

    &__input {
      background-color: #F5F5F5;
      height: 40px;
      width: 100%;
      border-radius: 15px;
      text-align: center;
    }

    &__hint {
      margin-left: 10px;
    }

    &__search {
      margin-top: 18px;
      margin-left: 5px;
      @include mat-elevation(3, #e91e63, 0.5);
    }
  }
}

@include resizeMixin(0) {
  .searchbar {
    &__formfield {
      width: 50px;
    }
  }
}

@include resizeMixin($iphone5) {
  .searchbar {
    &__formfield {
      width: 250px;
    }
  }
}


@include resizeMixin($GalaxyS5) {
  .searchbar {
    &__formfield {
      width: 300px;
    }
  }
}
@include resizeMixin($iphone678) {
  .searchbar {
    &__formfield {
      width: 320px;
    }
  }
}

@include resizeMixin($pixel2) {
  .searchbar {
    &__formfield {
      width: 360px;
    }
  }
}


@include resizeMixin($iphone678plus) {
  .searchbar {
    &__formfield {
      width: 360px;
    }
  }
}

@include resizeMixin($ipad) {
  .searchbar {
    &__formfield {
      width: 700px;
    }
  }
}

@include resizeMixin($ipadpro) {
  .searchbar {
    &__formfield {
      width: 500px;
    }
  }
}