@import '~@angular/material/theming';
@include mat-core();

// import mixins
@import '~src/app/shared/components/header/header.component';
@import '~src/app/shared/components/searchbar/searchbar.component';

$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);


// call mixins
@include header_mixin($theme);
@include search_bar_mixin($theme);

my-class-with-custom-shadow {
    @include mat-elevation(2, #e91e63, 0.8);
  }