@import 'theme/tayebat-theme';

* {
    border: 0;
    padding: 0;
    margin: 0;
  }
  html, body { 
      height: 100%; 
      margin: 0px;
  }
  body { 
      font-family: Roboto, "Helvetica Neue", sans-serif; 
  }
